<header>
  <h1>{{ site.name }}</h1>
  {% include partners.html %}
  <p>NWO project 628.009.014, part of the NWO research program Big Data: Real Time ICT for Logistics</p>
</header>
<hr>
<div id='menu'>
<a href={{ '/' | prepend:site.baseurl }} class='{% if page.header == 'Home' %}current-page{% endif %}'>Home</a><a href='{{ '/about/' | prepend:site.baseurl }}' class='{% if page.header == 'About' %}current-page{% endif %}'>About</a><a href='{{ '/people/' | prepend:site.baseurl }}' class='{% if page.header == 'People' %}current-page{% endif %}'>People</a><a href='{{ '/output/' | prepend:site.baseurl }}' class='{% if page.header == 'Research output' %}current-page{% endif %}'>Research output</a><a href='{{ '/dissemination/' | prepend:site.baseurl }}' class='{% if page.header == 'Dissemination event' %}current-page{% endif %}'>Dissemination event</a>
</div>
<hr>

