<ul>
{% assign sorted = (site.data.output | sort:'sort_date' | reverse) %}
{% for output in sorted %}
 {% if output.type == include.type or include.type == ""%}
  <li class='output-item'>
    <span class='description'>{{ output.description }}</span>:
    <span class='title'>{{ output.title }}</span>
    <span class='date'>({{ output.month}} {{ output.year }})</span>.
    <span class='authors'>{{ output.authors }}</span>.
    {% if output.doi %}<span>[<a class='doi doi-link' href='{{ output.doi }}' target='_blank'>DOI</a>]</span>{% endif %}
    {% if output.abstract %}<span>[<a class='abstract output-link' href='{{ '/files/abstracts/' | append:output.abstract | prepend:site.baseurl }}' target='_blank'>Abstract</a>]</span>{% endif %}
    {% if output.paper %}<span>[<a class='paper output-link' href='{{ '/files/papers/' | append:output.paper | prepend:site.baseurl }}' target='_blank'>Paper</a>]</span>{% endif %}
    {% if output.slides %}<span>[<a class='slides output-link' href='{{ '/files/slides/' | append:output.slides | prepend:site.baseurl }}' target='_blank'>Slides</a>]</span>{% endif %}
    {% if output.video %}<span>[<a class='slides output-link' href='{{ output.video }}' target='_blank'>Video</a>]</span>{% endif %}
    {% if output.poster %}<span>[<a class='poster output-link' href='{{ '/files/posters/' | append:output.poster | prepend:site.baseurl }}' target='_blank'>Poster</a>]</span>{% endif %}
  </li>
 {% endif %}
{% endfor %}
</ul>
