<div class='partners'>
<a href='https://www.nwo.nl'><img src={{ '/files/nwo.jpg'    | prepend:site.baseurl }} /></a>
<a href='https://www.cwi.nl'><img src={{ '/files/cwi.png'    | prepend:site.baseurl }} /></a>
<a href='https://www.uva.nl'><img src={{ '/files/uva.png'    | prepend:site.baseurl }} /></a>
<a href='https://www.vu.nl'><img src={{ '/files/vu.png'     | prepend:site.baseurl }} /></a>
<a href='https://www.ing.nl'><img src={{ '/files/ing.png'    | prepend:site.baseurl }} /></a>
<a href='https://www.abnamro.nl'><img src={{ '/files/abn.png'    | prepend:site.baseurl }} /></a>
<a href='https://www.airfranceklm.com'><img src={{ '/files/afklm.png'  | prepend:site.baseurl }} /></a>
</div>
