header > div.partners img {
  max-height: 4em;
  padding-right: 3em;
}

div#menu > a {
  font-size: 26px;
  padding-left: .8em;
  padding-right: .8em;
  border-right: solid 2px;
  border-left: solid 2px;
}

div#menu > a.current-page {
  font-style: italic;
  font-weight: bold;
}

li {
  list-style: square;
  padding-bottom: .5em;
}

div#about > div#right {
  position: absolute;
  right:1em;
  width: 20%;
}

div#right > div.partners img {
  padding-bottom:2em;
  max-width: 100%;
  max-height: 10em;
  display: block;
}

div#about > div#left {
  position: absolute;
  left: 1em;
  width: 75%;
}

li.output-item > span.title {
  font-style: italic;
}
