---
header: About
layout: default
pagination: /about/
---

<div id='about'>
  <div id='right'>
    {% include partners.html %}
  </div>
  <div id='left'>
    {% capture md_include %}{% include summary.md %}{% endcapture %}{{ md_include | markdownify }}
    {% capture md_include %}{% include goals.md %}{% endcapture %}{{ md_include | markdownify }}
  </div>
</div>
